<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off" class="register-form">
  <h2 class="text-center mb-4">Sign Up</h2>
  <div class="row">
    <!-- Left Column -->
    <div class="col-md-6">
      <!-- Username -->
      <div class="mb-4 form-floating">
        <input type="text" class="form-control" formControlName="username" placeholder="Username">
        <label>Username</label>
      </div>

      <!-- Password -->
      <div class="mb-4 form-floating">
        <input type="password" class="form-control" formControlName="password" placeholder="Password">
        <label>Password</label>
      </div>

      <!-- Confirm Password -->
      <div class="mb-4 form-floating">
        <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm Password">
        <label>Confirm Password</label>
      </div>

      <!-- First Name -->
      <div class="mb-4 form-floating">
        <input type="text" class="form-control" formControlName="firstname" placeholder="First Name">
        <label>First Name</label>
      </div>

      <!-- Last Name -->
      <div class="mb-4 form-floating">
        <input type="text" class="form-control" formControlName="lastName" placeholder="Last Name">
        <label>Last Name</label>
      </div>

      <!-- Date of Birth -->
      <div class="mb-4 form-floating">
        <input type="date" class="form-control" formControlName="dateofbirth" placeholder="Date of Birth">
        <label>Date of Birth</label>
      </div>

      <!-- Phone -->
      <div class="mb-4 form-floating">
        <input type="text" class="form-control" formControlName="phone" placeholder="Phone">
        <label>Phone</label>
      </div>

      <!-- Current City -->
      <div class="mb-4 form-floating">
        <input type="text" class="form-control" formControlName="currentCity" placeholder="Current City">
        <label>Current City</label>
      </div>
    </div>

    <!-- Right Column -->
    <div class="col-md-6">
      <!-- Known As -->
      <div class="mb-4 form-floating">
        <input type="text" class="form-control" formControlName="knownAs" placeholder="Known As">
        <label>Known As</label>
      </div>

      <!-- Introduction -->
      <div class="mb-4 form-floating">
        <textarea class="form-control" formControlName="introduction" placeholder="Introduction"></textarea>
        <label>Introduction</label>
      </div>

      <!-- Interests -->
      <div class="mb-4 form-floating">
        <textarea class="form-control" formControlName="interests" placeholder="Interests"></textarea>
        <label>Interests</label>
      </div>

      <!-- Photo URL -->
      <div class="mb-4 form-floating">
        <input type="file" class="form-control-file" formControlName="photoUrl" placeholder="Photo URL">
        <label>Photo</label>
      </div>

      <!-- Looking For -->
      <div class="mb-4 form-floating">
        <textarea class="form-control" formControlName="lookingFor" placeholder="Looking For"></textarea>
        <label>Looking For</label>
      </div>
    </div>
  </div>

  <div class="form-group text-center">
    <button [disabled]="!registerForm.valid" class="btn btn-primary me-3" type="submit">Register</button>
    <button class="btn btn-secondary" type="button" (click)="cancel()">Cancel</button>
  </div>
<!--  <h2 class="text-center text-secondary">Sign up</h2>
  <hr>
  <div class="mb-3">
    <label style="margin-right: 10px;">I am a:</label>
    <label class="form-check-label">
      <input type="radio" class="form-check-input" value="male" formControlName="gender"> Male
    </label>
    <label class="form-check-label">
      <input type="radio" class="form-check-input" value="female" formControlName="gender"> Female
    </label>
    <label class="form-check-label">
      <input type="radio" class="form-check-input" value="other" formControlName="gender"> Other
    </label>
  </div>
  <div class="mb-3 form-floating">
    <input
      [class.is-invalid]="
      registerForm.get('username')?.errors &&
      registerForm.get('username')?.touched"
      type="text"
      class="form-control"
      formControlName="username"
      placeholder="Username"
    >
    <label>Email</label>
    <div class="invalid-feedback text-start">Please enter an Email</div>
  </div>
  <div class="mb-3 form-floating">
    <input
      [class.is-invalid]="
      registerForm.get('password')?.errors &&
      registerForm.get('password')?.touched"
      type="password"
      class="form-control"
      name="password"
      formControlName="password"
      placeholder="Password"
    >
    <label>Password</label>
    <div *ngIf="registerForm.get('password')?.hasError('required')" class="invalid-feedback text-start">Please enter a Password</div>
    <div *ngIf="registerForm.get('password')?.hasError('minlenght')" class="invalid-feedback text-start">Password must be at least 4 characters</div>
    <div *ngIf="registerForm.get('password')?.hasError('maxlenght')" class="invalid-feedback text-start">Password must be at most 8 characters</div>
  </div>
  <div class="mb-3 form-floating">
    <input
      [class.is-invalid]="
      registerForm.get('confirmPassword')?.errors &&
      registerForm.get('confirmPassword')?.touched"
      type="password"
      class="form-control"
      name="confirmPassword"
      formControlName="confirmPassword"
      placeholder="confirmPassword"
    >
    <label>Re-Type Password</label>
    <div *ngIf="registerForm.get('confirmPassword')?.hasError('required')" class="invalid-feedback text-start">Please re enter your Password</div>
    <div *ngIf="registerForm.get('confirmPassword')?.hasError('isMatching')" class="invalid-feedback text-start">Confirm password must match password</div>
  </div>
  <div class="mb-3 form-floating">
    <input
      [class.is-invalid]="
      registerForm.get('firstname')?.errors &&
      registerForm.get('firstname')?.touched"
      type="text"
      class="form-control"
      name="firstname"
      formControlName="firstname"
      placeholder="firstname"
    >
    <label>FirstName</label>
    <div class="invalid-feedback text-start">Please enter your Firstname</div>
  </div>
  <div class="mb-3 form-floating">
    <input
      [class.is-invalid]="
      registerForm.get('lastName')?.errors &&
      registerForm.get('lastName')?.touched"
      type="text"
      class="form-control"
      name="lastname"
      formControlName="lastName"
      placeholder="LastName"
    >
    <label>LastName</label>
    <div class="invalid-feedback text-start">Please enter your LastName</div>
  </div>
  <div class="mb-3 form-floating" type="date"   >
    <input
      [class.is-invalid]="
      registerForm.get('dateofbirth')?.errors &&
      registerForm.get('dateofbirth')?.touched"
      type="datetime-local"
      class="form-control"
      name="Date"
      formControlName="dateOfBirth"
      placeholder="Date"
    >
    <label>DateOfBirth</label>
    <div  class="invalid-feedback text-start">Please enter your DateOfBirth</div>
  </div>
  <div class="mb-3 form-floating">
    <input
      [class.is-invalid]="
      registerForm.get('phone')?.errors &&
      registerForm.get('phone')?.touched"
      type="text"
      class="form-control"
      name="phone"
      formControlName="phone"
      placeholder="Phone"
    >
    <label>Phone</label>
    <div class="invalid-feedback text-start">Please enter a Phone Number</div>
  </div>
  <div class="mb-3 form-floating">
    <input
      [class.is-invalid]="
      registerForm.get('currentCity')?.errors &&
      registerForm.get('currentCity')?.touched"
      type="text"
      class="form-control"
      name="currentCity"
      formControlName="currentCity"
      placeholder="currentCity"
    >
    <label>CurrentCity</label>
    <div class="invalid-feedback text-start">Please enter your CurrentCity</div>
  </div>
&lt;!&ndash;  <div class="mb-3 form-floating">
    <input
      type="text"
      class="form-control"
      name="photoUrl"
      formControlName="photoUrl"
      placeholder="photoUrl"
    >
    <label>photoUrl</label>
  </div>&ndash;&gt;
  @if(validationErrors){
    <div class="alert alert-danger">
      <ul>
        @for(error of validationErrors; track $index){
          <li>{{error}}</li>
        }
      </ul>
    </div>
  }
  <div class="form-group text-center">
    <button  class="btn btn-success me-2" type="submit">Register</button>
    <button class="btn btn-success me-2" type="button">Next</button>
    <button class="btn btn-default me-2" (click)="cancel()" type="button">Cancel</button>
  </div>-->
</form>


