<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
  <h2 class="text-center text-secondary">Sign up</h2>
  <hr>
  <div class="mb-3">
    <label style="margin-right: 10px;">I am a:</label>
    <label class="form-check-label">
      <input type="radio" class="form-check-input" value="male" formControlName="gender"> Male
    </label>
    <label class="form-check-label">
      <input type="radio" class="form-check-input" value="female" formControlName="gender"> Female
    </label>
    <label class="form-check-label">
      <input type="radio" class="form-check-input" value="other" formControlName="gender"> Other
    </label>
  </div>
  <div class="mb-3 form-floating">
    <input
      [class.is-invalid]="
      registerForm.get('username')?.errors &&
      registerForm.get('username')?.touched"
      type="text"
      class="form-control"
      formControlName="username"
      placeholder="Username"
    >
    <label>Email</label>
    <div class="invalid-feedback text-start">Please enter an Email</div>
  </div>
  <div class="mb-3 form-floating">
    <input
      [class.is-invalid]="
      registerForm.get('password')?.errors &&
      registerForm.get('password')?.touched"
      type="password"
      class="form-control"
      name="password"
      formControlName="password"
      placeholder="Password"
    >
    <label>Password</label>
    <div *ngIf="registerForm.get('password')?.hasError('required')" class="invalid-feedback text-start">Please enter a Password</div>
    <div *ngIf="registerForm.get('password')?.hasError('minlenght')" class="invalid-feedback text-start">Password must be at least 4 characters</div>
    <div *ngIf="registerForm.get('password')?.hasError('maxlenght')" class="invalid-feedback text-start">Password must be at most 8 characters</div>
  </div>
  <div class="mb-3 form-floating">
    <input
      [class.is-invalid]="
      registerForm.get('confirmPassword')?.errors &&
      registerForm.get('confirmPassword')?.touched"
      type="password"
      class="form-control"
      name="confirmPassword"
      formControlName="confirmPassword"
      placeholder="confirmPassword"
    >
    <label>Re-Type Password</label>
    <div *ngIf="registerForm.get('confirmPassword')?.hasError('required')" class="invalid-feedback text-start">Please re enter your Password</div>
    <div *ngIf="registerForm.get('confirmPassword')?.hasError('isMatching')" class="invalid-feedback text-start">Confirm password must match password</div>
  </div>
  <div class="mb-3 form-floating">
    <input
      [class.is-invalid]="
      registerForm.get('firstname')?.errors &&
      registerForm.get('firstname')?.touched"
      type="text"
      class="form-control"
      name="firstname"
      formControlName="firstname"
      placeholder="firstname"
    >
    <label>FirstName</label>
    <div class="invalid-feedback text-start">Please enter your Firstname</div>
  </div>
  <div class="mb-3 form-floating">
    <input
      [class.is-invalid]="
      registerForm.get('lastName')?.errors &&
      registerForm.get('lastName')?.touched"
      type="text"
      class="form-control"
      name="lastname"
      formControlName="lastName"
      placeholder="LastName"
    >
    <label>LastName</label>
    <div class="invalid-feedback text-start">Please enter your LastName</div>
  </div>
  <div class="mb-3 form-floating" type="date"   >
    <input
      [class.is-invalid]="
      registerForm.get('dateofbirth')?.errors &&
      registerForm.get('dateofbirth')?.touched"
      type="datetime-local"
      class="form-control"
      name="Date"
      formControlName="dateofbirth"
      placeholder="Date"
    >
    <label>DateOfBirth</label>
    <div  class="invalid-feedback text-start">Please enter your DateOfBirth</div>
  </div>
  <div class="mb-3 form-floating">
    <input
      [class.is-invalid]="
      registerForm.get('phone')?.errors &&
      registerForm.get('phone')?.touched"
      type="text"
      class="form-control"
      name="phone"
      formControlName="phone"
      placeholder="Phone"
    >
    <label>Phone</label>
    <div class="invalid-feedback text-start">Please enter a Phone Number</div>
  </div>
  <div class="mb-3 form-floating">
    <input
      [class.is-invalid]="
      registerForm.get('currentCity')?.errors &&
      registerForm.get('currentCity')?.touched"
      type="text"
      class="form-control"
      name="currentCity"
      formControlName="currentCity"
      placeholder="currentCity"
    >
    <label>CurrentCity</label>
    <div class="invalid-feedback text-start">Please enter your CurrentCity</div>
  </div>
<!--  <div class="mb-3 form-floating">
    <input
      type="text"
      class="form-control"
      name="photoUrl"
      formControlName="photoUrl"
      placeholder="photoUrl"
    >
    <label>photoUrl</label>
  </div>-->
  <div class="form-group text-center">
    <button class="btn btn-success me-2" type="submit">Register</button>
    <button class="btn btn-success me-2" type="button">Next</button>
    <button class="btn btn-default me-2" (click)="cancel()" type="button">Cancel</button>
  </div>
</form>

<p>Form Value : {{registerForm.value | json}}</p>

